/****************************************************************
 * general                                                      *
 ****************************************************************/
html, body{ font-size:10px; margin:0; padding:0; overflow:hidden; font-family:Tahoma,sans-serif; webkit-font-smoothing:antialiased; }
a, input[type="button"], label{ cursor:pointer; text-decoration:none; }

/****************************************************************
 * layout                                                       *
 ****************************************************************/
.extent{ height:100%; width:100%; margin:0; padding:0; border-spacing:0; vertical-align:top; } .extent > *{ vertical-align:top; } .extent > tbody > tr > td{ padding:0; }
.variable{ height:auto; } .fill{ height:100%; } .fill > td{ position:relative; }
.split > *:first-child{ width:70%; } .split > *:last-child{ width:30%; }

body > .extent{ position:absolute; } #content > td > .extent{ position:relative; }
#nav > *, #content > *, #footer > *, #search, #results, #sidebar{ padding:1em; }

/****************************************************************
 * nav                                                          *
 ****************************************************************/
#nav{ background:#555; }

/********************************
 * title                        *
 ********************************/
#nav h1{ display:inline-block; font-size:3.7em; margin:0; }
	#nav h1 a{ color:#fff; font-family:Arial; vertical-align:middle; }
		#nav h1 img{ float:left; height:1.5em; margin:.1em .5em 0 .2em; }

/********************************
 * login                        *
 ********************************/
#login table{ border-spacing:0; }
#login td{ font-size:1.1em; padding:1px 1em 1px 0; }
#login td > *{ vertical-align:middle; }
#login tr:first-child label{ color:#fff; }
#login tr:last-child label, #login tr:last-child a{ color:rgba(255,255,255,.6); }
#login td input{ font-size:1.3em; margin:0; padding:.2em; border:1px solid rgba(0,0,0,.6); }
	#login td input[type="text"], #login td input[type="password"]{ width:10em; }
	#login td input[type="button"]{ color:#fff; font-weight:bold; background:rgba(255,255,255,.2); border-color:rgba(0,0,0,.4) rgba(0,0,0,.5) rgba(0,0,0,.6); box-shadow:inset 0 1px 1px rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3); }
#login td input[type="checkbox"]{ vertical-align:middle; margin-right:.5em; }
#login td a:hover{ text-decoration:underline; }

/****************************************************************
 * content                                                      *
 ****************************************************************/
#content > td > table{ background:#eee; border-radius:.4em; box-shadow:0 0 1em rgba(0,0,0,.4); overflow:hidden; }

/********************************
 * search                       *
 ********************************/
#search span{ display:block; padding:.8em; margin:.5em 0 0 .5em; border:1px solid #aaa; background:#fff; border-radius:2px; }
#search span input{ font-size:1.5em; width:100%; border:none; outline:none; }

/********************************
 * map                          *
 ********************************/
#map{ height:100%; width:100%; overflow:hidden; box-shadow:inset 0 0 1em rgba(0,0,0,.3); }
#map .leaflet-control-zoom, .leaflet-control-attribution{ display:none; }

/********************************
 * results                      *
 ********************************/
#results h2{ font-size:3em; margin:.2em 0; padding-left:.25em; font-family:Georgia,serif; color:#555; font-weight:normal; text-shadow:-1px -1px 2px #fff; }

/********************************
 * sidebar                      *
 ********************************/
#sidebar{ padding-top:0; }
#papers{ padding:.5em 0; background:#fff; border:1px solid rgba(0,0,0,.2); box-shadow:0 .1em .4em rgba(0,0,0,.1); border-radius:.4em; }
	#papers > a{ display:block; position:relative; font-size:1.5em; padding:.5em; border-style:solid; border-width:1px 0 0; border-color:#aaa; transition:background .1s; }
	#papers > a:first-child{ border-top-color:transparent; } #papers > a:last-child{ border-bottom-width:1px; border-bottom-color:transparent; }
	#papers > a:hover{ background:#eee; border-width:1px 0; border-color:#ccc; }
	#papers > a:hover + a{ border-top:none; }
		#papers h3{ margin:0; color:rgba(0,0,0,.7); font-weight:normal; }
		#papers span{ position:absolute; right:.5em; top:.5em; }
		#papers p{ margin:0; }

/****************************************************************
 * footer                                                       *
 ****************************************************************/
#footer{ background:#555; color:rgba(255,255,255,.6); }

/****************************************************************
 * color theme                                                  *
 ****************************************************************/

/*
 * background colors
 *
 * dark: #888
 * medium: #bbb
 */
body{ background:#bbb; }

/*
 * navigation colors
 *
 * gray: #555
 * green: #384
 * blue: #367
 */
#nav, #footer{ background:#555; }
