/****************************************************************
 * layout                                                       *
 ****************************************************************/
.left{ top:14.5em; bottom:5em; }
.left + .left{ top:auto; bottom:2em; }

/****************************************************************
 * left                                                         *
 ****************************************************************/
#map{ height:100%; border-radius:.5em; border:1px solid #ccc; background:#eee; }
#footer{ font-size:1.3em; }
#footer #debug{ color:#bbb; }

/****************************************************************
 * right                                                        *
 ****************************************************************/
input[name=area]{ min-width:9em; margin:.5em auto; }
input[name=submit]{ float:right; }
