/****************************************************************
 * layout                                                       *
 ****************************************************************/
.left{ top:14.5em; bottom:5em; }
.left + .left{ top:auto; bottom:2em; }
.left + .left + .left{ top:2em; bottom:auto; }

/****************************************************************
 * left                                                         *
 ****************************************************************/
#ads{ height:10em; margin:0 0 2em; border-radius:.5em; border:1px solid #ccc; background:#eee url("pic/advertisement.png") no-repeat center; display:none; }
#map{ height:100%; border-radius:.5em; border:1px solid #ccc; background:#eee; }
#footer{ font-size:1.3em; }
#footer #debug{ color:#bbb; }

/****************************************************************
 * right                                                        *
 ****************************************************************/
#results{ padding:0; min-height:5em; }
input[name=area]{ min-width:9em; margin:.5em auto; }
input[name=submit]{ float:right; }

/****************************************************************
 * results                                                      *
 ****************************************************************/
#results div{ font-size:1.5em; display:block; position:relative; padding:.5em 1em; border-top:1px solid #ccc; background:#eee; transition:background .1s; }
#results div:first-child{ margin-top:-1px; border-top-left-radius:.33em; border-top-right-radius:.33em; }
#results div:last-child{ border-bottom-left-radius:.33em; border-bottom-right-radius:.33em; }
#results div:hover{ background:#f8f8f8; border:1px solid #bbb; margin-left:-1px; margin-right:-1px; margin-bottom:-1px; z-index:1; }
#results div > h3{ font-size:1.25em; margin:0; color:#606060; font-weight:normal; /* -moz-user-select:text; */ }
#results div > a{ color:#23629f; text-decoration:none; }
#results div > span{ position:absolute; right:.5em; top:.5em; color:#888; }
#results div > p{ font-size:1em; margin:0; color:#888; margin:.2em 0; line-height:1.1em; }
